/* CSS reset */
*{
    margin: 0;
    padding: 0;
 
}
/* css variables */
:root{
     --navbar-height: 60px; 
} 
/* navigation bar */
     #navbar{ 
         display: flex;
         align-items: center;
         position: relative;
     }
     #logo{
        margin: 11px 13px;
        display: flex;
        flex-direction: column;
    }
    #logo img{
         height: 61px;
         margin: 0px 0px ;
     }
     #profile img {
        width: 56px;
        height: 69px;
        position: absolute;
        top: 14px;
        right: 76px;
    }

     
     /* list-styling */
     #navbar ul{
         display: flex;
     }
     #navbar::before{
         content: "";
         background-color: rgb(54, 19, 70);
         position: absolute;
         width: 100%;
         height: 100%;
         z-index: -1;
         opacity: 0.7;
     }
     #navbar ul li{
         
         list-style: none;
         font-size: 1.3rem;
        }
        #navbar ul li a{
            color: white;
            padding: 3px 15px;
            text-decoration: none;
            border-radius: 15px;
            
        }
        #navbar ul li a:hover{
            background-color: white;
            color: black;
            
        }
        .contact{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 50%;
            position: relative;
            margin: 0px;
            padding: 0px;
            
        }
        .contact::before{
            content: "";
            background-color: rgb(143, 136, 42);
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.7;
        }
        .email input{
            margin: 7px 8px;
            width: 45%;
            padding: 3px 21px;
            font-size: 16px;
        }
        .login {
            display: flex;
            position: absolute;
            top: 3px;
            right: 3px;
            margin: 4px;
            padding: 14px 0px;
        }
        
    
        .login  a{
            padding: 0px 10px;
            text-decoration: none;
    }
    .checkbox{
        display: flex;
        margin: 7px 8px;
    }
    .checkbox p{
        padding: 0px 9px;
        
    }
    #delivery{ 
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        position: relative;
        margin: 0px;
        padding: 0px;
    }
    #delivery::before{
        content: "";
        background-color: rgb(33, 65, 80);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.6;
    }
    .name {
        display: flex;
        width: 50%;
        margin: 8px 7px;
    }
.name input{
    margin:7px 0px;
    padding: 4px 4px;
}
.info input{
    width: 50%;
    margin:7px 7px;
    padding: 4px 4px;
}
.place{
    display: flex;
    width: 100%;
    margin:7px 7px;
    
}
.place input{
    padding: 4px 4px;
    
}
.place select{
    padding: 4px 4px;
    
}
.country select{
    width: 50%;
    margin:7px 7px ;
    padding: 4px 4px;
}
.btn a{
    margin: 2px 15px;
}
.btn button{
    margin: 2px 60px;
    width: 33%;
}
.btn button:hover{
    background-color: chartreuse;
    border-radius: 12px;
}
    .product{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        position: relative;
        
        
        padding: 0px;
    }
    .product::before{
        content: "";
        background-color: rgb(180, 141, 178);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.7;
    }
    .product img{
            width: 122px;
            height: 145px;
            margin: 72px 78px;
        }
        
        #chickenpizza{
            display: flex;
            
        }
        #productname{
             margin: 20px 20px;
            }
        #productprice{
            margin: 20px 20px;
        }
.price{display:flex ;
    
    flex-direction: column;
    justify-content: center;
            align-items: center;
}
.price ul{
    list-style: none;
}
.code input{
    margin: 30px 60px;
    font-size: 20px;
}
.code1 :hover {
     background-color: rgb(143, 74, 131);
     border-radius: 15px;
    }
    .subtotal{
        display: flex;
    }
.subtotal p{
    align-items: flex-end;
    margin: 15px 200px
}
.subtotal h3{
    margin: 15px 40px;
}
.shipping{
    display: flex;
}
.shipping p{
    align-items: flex-end;
    margin: 15px 200px
}
.shipping h3{
    margin: 15px 40px;
}
.total{
    display: flex;
}
.total p{
    align-items: flex-end;
    margin: 15px 200px
}
.total h3{
    margin: 15px 40px;
}

.footer{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    position: relative;
    margin: 0px;
    padding: 0px;
    color: white;
}
.footer::before{
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.89;
}
.footerinfo {
    display: flex;
    border-collapse: separate;
    border-spacing: 2px 10px;

}
.footerinfo p{
    margin: 40px 10px;
}
.footerinfo table{
    margin: 10px 33%;
}
th, td {
    width: 174px;
}
